<h3>
  <a href="/"
    ><span style="color: #2c6fbb">Nova</span
    ><span style="color: #285d34">Tech</span></a
  >
</h3>
<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Services</a></li>
    <!-- <li><a href="/">Pricing</a></li> -->
    <li><a href="/">Careers</a></li>
    <li><a href="/">Portfolio</a></li>
    <li><a href="/">Blog</a></li>
    <li><a href="/">About Us</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
  <button class="btn">Sign up</button>
  <button class="btn">Login</button>
</div>